*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: normal;
}

h1, h2 {
  font-weight: 900;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

p {
  /* Allow whitespace */
  white-space: pre-line;
  line-height: 32px;
}

html, body {
  font-family: "Open Sans", sans-serif;
  color: #25204C;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}
body header {
  height: 80px;
  background: white;
  border-bottom: 2px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
body header > div:first-child {
  background: #7769E4;
  /* Backup */
  background: linear-gradient(to right, #7769E4 0%, #64D4D6 50%, #FF7A86 100%);
  background-size: 200% 100%;
  animation: gradient 30s ease infinite;
  min-height: 8px;
  width: 100%;
}
body header > div:last-child {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}
body #page-container {
  text-align: center;
  overflow-y: auto;
  height: 100%;
  padding: 64px 0;
}
body #page-container section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  text-align: left;
}
body #page-container section > #changelogs {
  max-width: 1088px;
  width: 100%;
}
body #page-container section > #changelogs > #items > .item {
  display: flex;
  justify-content: flex-end;
}
body #page-container section > #changelogs > #items > .item .timeline {
  display: flex;
  justify-content: flex-end;
  padding: 0 16px;
  max-width: 448px;
  width: 100%;
}
body #page-container section > #changelogs > #items > .item .timeline > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body #page-container section > #changelogs > #items > .item .timeline > div .meta {
  text-align: center;
}
body #page-container section > #changelogs > #items > .item .timeline > div .meta .version, body #page-container section > #changelogs > #items > .item .timeline > div .meta .release-date {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body #page-container section > #changelogs > #items > .item .timeline > div .meta .version {
  font-weight: bold;
}
body #page-container section > #changelogs > #items > .item .timeline > div .meta .release-date {
  margin-top: 8px;
  font-size: 12px;
}
body #page-container section > #changelogs > #items > .item .timeline > div .connector {
  position: relative;
  height: 100%;
}
body #page-container section > #changelogs > #items > .item .timeline > div .connector > div {
  position: absolute;
  margin-top: 16px;
  width: 2px;
  background: #25204C;
  height: calc(100% + 24px);
}
body #page-container section > #changelogs > #items > .item .timeline > div .connector > div:before, body #page-container section > #changelogs > #items > .item .timeline > div .connector > div:after {
  content: "";
  position: absolute;
  right: -3px;
  display: block;
  width: 8px;
  height: 8px;
  background: #25204C;
  border-radius: 100%;
}
body #page-container section > #changelogs > #items > .item .timeline > div .connector > div:before {
  top: -4px;
}
body #page-container section > #changelogs > #items > .item .timeline > div .connector > div:after {
  bottom: -4px;
}
body #page-container section > #changelogs > #items > .item .content {
  padding: 0 16px;
  width: 100%;
}
body #page-container section > #changelogs > #items > .item .content .feature {
  display: flex;
}
body #page-container section > #changelogs > #items > .item .content .feature .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  /* Stop tag from strinking or stretching */
  min-width: 80px;
  max-width: 80px;
  border-radius: 12px;
  color: white;
  font-size: 9px;
  margin-top: 4px;
}
body #page-container section > #changelogs > #items > .item .content .feature .tag.new {
  background: #7769E4;
}
body #page-container section > #changelogs > #items > .item .content .feature .tag.enhancements {
  background: #64D4D6;
}
body #page-container section > #changelogs > #items > .item .content .feature .tag.fixes {
  background: #FF7A86;
}
body #page-container section > #changelogs > #items > .item .content .feature p {
  margin-left: 16px;
}
body #page-container section > #changelogs > #items > .item .content > *:not(:last-child) {
  margin-bottom: 16px;
}
body #page-container section > #changelogs > #items > .item:last-child .timeline .connector {
  opacity: 0;
}
body #page-container section > #changelogs > #items > .item > * {
  margin-bottom: 64px;
}
body #page-container section > #changelogs > #pagination {
  padding: 0 16px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  opacity: 0.25;
  transition: opacity 0.2s ease-in-out;
  margin-bottom: 64px;
  outline: none;
  margin-left: 448px;
}
body #page-container section > #changelogs > #pagination:hover, body #page-container section > #changelogs > #pagination:focus {
  opacity: 1;
}
body #page-container section > #subscribe {
  max-width: 448px;
  width: 100%;
  margin-bottom: 64px;
  position: sticky;
  display: table;
  top: 0;
}
body #page-container section > #subscribe > div {
  margin: 0 16px;
  background: #f2f2f2;
  border-radius: 12px;
  padding: 32px;
}
body #page-container section > #subscribe > div > *:not(:last-child) {
  margin-bottom: 16px;
}
body #page-container footer {
  font-size: 14px;
  margin-top: auto;
  padding: 0 16px;
}

@media only screen and (max-width: 1536px) {
  #page-container > section {
    flex-direction: column;
    align-items: center;
  }
  #page-container > section .timeline {
    max-width: none !important;
    width: auto !important;
  }
  #page-container > section #pagination {
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  #changelogs .item {
    flex-direction: column;
  }
  #changelogs .item .timeline {
    justify-content: flex-start !important;
    margin-bottom: 16px !important;
  }
  #changelogs .item .timeline .meta {
    display: flex;
    align-items: center;
  }
  #changelogs .item .timeline .meta .release-date {
    margin-top: 0 !important;
    margin-left: 8px;
  }
  #changelogs .item .timeline .meta .version, #changelogs .item .timeline .meta .release-date {
    font-size: 14px !important;
  }
  #changelogs .item .timeline .connector {
    display: none;
  }
  #changelogs .item .content .meta {
    display: flex !important;
  }
}
@media only screen and (max-width: 384px) {
  #changelogs .item .content .feature {
    flex-direction: column;
  }
  #changelogs .item .content .feature .tag {
    margin-top: 0 !important;
    margin-bottom: 8px;
  }
  #changelogs .item .content .feature p {
    margin: 0 !important;
  }
}
input, .button {
  height: 32px;
  width: 100%;
  border-radius: 16px;
  border: 0;
  outline: none;
}

input {
  padding: 0 16px;
  margin-bottom: 16px;
  overflow: hidden;
  font-size: 14px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #25204C;
  color: white;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.button:hover, .button:focus {
  opacity: 0.5;
}
.button:active {
  transform: translateY(2px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* blockqoute */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.2em;
  width:100%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}